<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Exhortations - Les trésors</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css"
          href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0"/>
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container_ex">
    <div class="row" id="tresor">
        <h2><b><i>"<span style="text-decoration: underline;">Les trésors du Royaume</span>"</i></b></h2><br>
        <blockquote>
            <p>Béni soit Dieu, le Père de notre Seigneur Jésus-Christ, qui nous a bénis de toutes sortes de
                bénédictions spirituelles dans les lieux célestes en Christ. <b>Ephésiens 1: 3</b>
            </p>
        </blockquote>
        <p>Un royaume riche et puissant avait la réputation de détenir des trésors d&rsquo;une grande valeur, et des
            secrets liés a des connaissances scientifiques et médicales.&nbsp;</p>
        <p>Ce royaume décida de faire part de son riche patrimoine à un petit royaume pauvre à qui il proposa de devenir
            un allié. Une délégation du royaume pauvre était donc conviée a une invitation du Prince du royaume riche
            afin de sceller cette alliance. Le Prince fit part de quelques conditions et clauses de l&rsquo;alliance. Le
            royaume pauvre devait considérer la totalité du patrimoine et non qu&rsquo;une partie.&nbsp;
        </p>
        <p>&nbsp; Une fois l&rsquo;alliance conclue, la délégation du royaume pauvre retourna, riche cette fois ci,
            auprès du peuple. Toutefois, tous ne se mirent pas d&rsquo;accord: malgré leur grande richesse, certains
            privilégièrent les secrets medicaux, d&rsquo;autres privilègièrent les secrets scientifiques, et ils ne se
            mirent pas non plus d&rsquo;accord sur la gestion du patrimoine. Cette division d&rsquo;opinion créa de
            vives tensions parmi le peuple. Cette division profita au royaume ennemi du royaume riche, qui attaqua le
            royaume pauvre et pilla les richesses et les secrets detenus.&nbsp;
        </p>
        <p>Le royaume pauvre devint encore plus pauvre et fut divisé dans son sein. Le patrimoine qui lui aurait assuré
            des jours heureux fut pillé et les secrets qui assuraient leur puissance furent vulgarisés et dévoilés aux
            ennemis.
        </p>
        <p><b>Une Eglise qui ne marche pas dans l&rsquo;unité et qui ne considère pas les richesses célestes est
            semblable à ce royaume pauvre. Par Christ, Dieu nous a fait part de toutes sortes de richesses dans les
            lieux celestes, de toute autorité et un pouvoir sur les ténèbres. Mais ce qui fait souvent notre faiblesse c&rsquo;est
            le manque d&rsquo;unité et le fait que l&rsquo;on ne cherche que ce qui nous arrange dans les principes
            bibliques.&nbsp;</b>
        </p>
        <p><b>L&rsquo;ennemi, voleur et destructeur, gagne lorsque nous laissons la division règner et que nous menons
            notre vie chrétienne superficiellement sans explorer les réalités surnaturelles et sans reconnaître notre
            identité en Christ.</b>
        </p>
        <p><b>Si nous considérons les richesses du Royaume de de Dieu et de Sa Parole nous ferons la différence au
            milieu de cette génération.</b>
        </p>
    </div>
    <br><br>
</div>
<div id="body_comments" class="row">
    <!--<iframe src="https://www.powr.io/plugins/comments/view?unique_label=e5970f5a_1504786509&external_type=iframe" width="100%" height="600" frameborder="0"></iframe>-->
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <script type="text/javascript" id="hcb"> /*<!--*/
    if (!window.hcb_user) {
        hcb_user = {};
    }
    (function () {
        var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com";
        s.setAttribute("type", "text/javascript");
        s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%242cNL6L6I7udHPY27KSRKk%2F" + "&opts=16862&num=10&ts=1504788058473");
        if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
    })();
    /*-->*/
    </script>
    <!-- end www.htmlcommentbox.com -->
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>

</body>
</html>
