<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Exhortations - manteau</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css"
          href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0"/>
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container_ex">
    <h2><b><i>"<span style="text-decoration: underline;">Un nouveau manteau pour une nouvelle saison</span>"</i></b></h2><br>
    <div class="entry-content" itemprop="articleBody">
        <blockquote><span style="color: #003366;">&nbsp; &nbsp; Dans notre vie courante, il est habituel de revêtir un habit en fonction de la saison.
            Il y a des manteaux spécifiques pour l’ hiver et d’autres spécifiques pour l’automne.</span>
        </blockquote>
        <p style="text-align: justify;"><span style="color: #003366;">&nbsp; &nbsp;La Parole de Dieu fait aussi beaucoup référence au manteau, au revêtement, pour nous amener à comprendre certaines réalités spirituelles.
            Dieu a aussi utilisé la culture et les coutumes de l’époque pour faire signifier ses principes. L</span><span
                style="color: #003366;">e manteau dans l’ancien testament a une signification importante. Dans l’usage vestimentaire des juifs, le manteau était courant. Tous étaient enveloppés&nbsp; d’un manteau.
            Les chefs, rois, ou sacrificateurs avaient aussi des manteaux distincts.</span><span
                id="more-3065"></span></p>
        <ul>
            <li style="text-align: justify;"><span
                    style="color: #003366;">&nbsp; &nbsp; &nbsp; Avec le Prophète Elie <b>(2 Rois 2: 11 &#8211; 14)</b> Elisée a hérité de son manteau après que Elie fut ravi par Dieu.
                Ce manteau représentait le ministère du prophète et la puissance divine qui lui a été conférée.</span>
            </li>
            <li><span style="color: #003366;">&nbsp; &nbsp; &nbsp; &nbsp;Ruth la Moabite demanda à Booz: «&nbsp;Etend ton aile sur moi&nbsp;» &nbsp;<b>(Ruth 3 : 9)</b>. L’aile ici fait référence au pan du manteau.
                Et la tradition voulait qu’un homme étende les franges de son manteau en signe de promesse de mariage. Ce fut une sorte de pacte, d’alliance.</span>
            </li>
            <li><span style="color: #003366;">&nbsp; &nbsp; &nbsp; &nbsp;Dans les évangiles <b>(Marc 10: 50)</b>, Bartimée jeta son ancien manteau pour trouver en Jesus sa délivrance, et recouvrir la vue.</span>
            </li>
        </ul>
        <p style="text-align: justify;"><span style="color: #003366;">&nbsp; &nbsp; <span style="color: #000000;">Une saison nouvelle dans notre vie peut être la suite d’une délivrance, le début d’un ministère ou d’un statut de vie</span>.
            Et par l’esprit de Dieu nous nous revêtons d’un manteau, d’une consécration propre à l’appel de Dieu sur notre vie.</span>
        </p>
        <p style="text-align: justify;"><span style="color: #003366;">&nbsp; &nbsp;<span style="color: #000000;">Dieu nous demande de nous revetir du Seigneur Jesus et de nous dépouiller de la chair et de ses convoitises.</span>
            Le diable a aussi ses manteaux. Les Soldats qui ont maltraités Jesus, lui ont remis un manteau de pourpre.
            C’était une moquerie, un symbole de sarcasme et d’ironie lui qui était réellement Roi mais dans une dimension autre. Le péché qui entre dansnotre vie peut nous envelopper.
            <b>Heureux 12: 1 </b>nous dit de rejeter tout fardeau et le péché qui nous enveloppe si facilement.
            Il nous faut donc ôter de nous les vieux habits qui nous alourdissait. L’homme renouvelé par Dieu, et qui s’est dépouillé des oeuvres de la chair, est revêtu d’un nouvel habit, d’une onction fraiche:</span>
        </p>
        <p style="text-align: justify;"><span style="color: #808080;">«<em>&nbsp;Dépouillons nous des oeuvres des ténèbres et revêtons les armes de la lumière.
            Marchons honnêtement comme en plein jour sans excès de table, ni de boisson, sans luxure, ni dérèglement, sans discorde ni jalousie.
            Mais revetez vous du Seigneur Jesus-Christ, et ne vous mettez pas en souci de la chair pour en satisfaire les convoitises&nbsp;» <b>Rom 13 : 12 &#8211; 14</b></em></span>
        </p>
        <p style="text-align: justify;"><span style="color: #003366;">Lorsque Dieu veut nous faire passer à une autre dimension, il nous faut revetir un nouveau manteau.
            Notre rôle est de venir en sa présence nous dépouiller et le laisser nous revetir. C’est à nous de nous dépouiller et non&nbsp;à Dieu.
            Dieu cherche notre volonté de quitter le vieux manteau et de revêtir ses habits royaux, comme le fils prodigue qui vint vers son père se revêtir de son manteau princier.</span>
        </p>
        <p></p>
    </div>
    <br><br>
</div>
<div id="body_comments" class="row">
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <script type="text/javascript" id="hcb"> /*<!--*/
    if (!window.hcb_user) {
        hcb_user = {};
    }
    (function () {
        var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com";
        s.setAttribute("type", "text/javascript");
        s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%242cNL6L6I7udHPY27KSRKk%2F" + "&opts=16862&num=10&ts=1504788058473");
        if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
    })();
    /*-->*/ </script>
    <!-- end www.htmlcommentbox.com -->
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
