<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Exhortations- La paix</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css"
          href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0"/>
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container_ex">

    <h2><b><i>"<span style="text-decoration: underline;">Cultiver la paix intérieure</span>"</i></b></h2><br>
    <div class="entry-content" itemprop="articleBody">
        <blockquote><i>&laquo;&nbsp;Car un enfant nous est né, un fils nous est donné, Et la domination reposera sur son
            épaule;
            On l&rsquo;appellera Admirable, Conseiller, Dieu puissant, Père éternel, Prince de la paix.&nbsp;&raquo;
            <b>Esaie 9: 6</b></i>
        </blockquote>
        <blockquote><i>&laquo;&nbsp;L&rsquo;Eternel est mon berger je ne manquerai de rien, il me fait reposer dans de verts
            paturages, il me conduit près des eaux paisibles&nbsp;&raquo; <b>Psaume 23: 1- 2</b></i>
        </blockquote>
        <p>Nous ne savons pas dans quelle circonstance David a écrit le <b>psaume 23</b> ni dans quel cadre, mais en bon
            berger
            qu&rsquo;il était, David a certaiment côtoyé des rivières, des lacs et des lieux verdoyants. il a
            certainement ressenti une paix profonde face à de tels paysages.<br/>
            Mais au dela de ce qu&rsquo;il pouvait ressentir il reconnaissait Dieu comme son berger et désirait la
            presence de Dieu (j&rsquo;habiterai dans la maison du seigneur jusqu&rsquo;a la fin de mes jours&nbsp;&raquo;).&nbsp;
        </p>
        <p>Combien de fois ressentons nous cette même paix au milieu de cadres &laquo;&nbsp;paradisiaques&nbsp;&raquo;,
            qui nous font rêver et nous évader. Mais il y a une forme de paix qui dépasse le sentiment de paix: c&rsquo;est
            la Paix que Dieu donne! Elle peut accompagner des moments de qualité au bord d&rsquo;une rivière par exemple
            comme elle peut accompagner des moments ordinaires de notre quotidien, tout comme elle peut accompagner des
            moments pénibles.</p>
        <p>Le monde nous propose plusieurs formes de paix à travers des pratiques qui semblent procurer une
            attitude &laquo;&nbsp;zen&nbsp;&raquo;, mais <b>la Paix chrétienne a la caractéristique d&rsquo;être
                procurée par une communion avec Dieu, non pas une émotion provoquée par la nature mais par le Créateur
                même de cette nature. </b>La paix de Dieu est une paix qui surpasse toute intelligence. C&rsquo;est une
            paix qui trouve sa racine dans notre esprit par la présence du Saint Esprit que l&rsquo;on &laquo;&nbsp;cultive&nbsp;&raquo;,
            et qui se transmet dans notre être. C&rsquo;est une paix relationnelle et non un simple sentiment de &laquo;&nbsp;zenitude&nbsp;&raquo;.
        </p>
        <p>L&rsquo;Eternel nous conduit près des eaux paisibles, et nous apporte une restauration. Il desire un lien de
            berger- brebis car il a une nature de Père.&nbsp;</p>
        <p>&nbsp;Tout homme qui cherche la paix, s&rsquo;il désire réellement l&rsquo;avoir, se doit de chercher le
            Prince de la paix avant tout. &nbsp;</p>
        <p>&nbsp;<b>Cultiver une paix interieure c&rsquo;est avant tout entretenir une relation avec le Prince de Paix :
            Jesus Christ qui est lui meme le chemin qui nous conduit au Père.</b></p>
        <p></p>
    </div>
    <br><br>
</div>
<div id="body_comments" class="row">
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <script type="text/javascript" id="hcb"> /*<!--*/
    if (!window.hcb_user) {
        hcb_user = {};
    }
    (function () {
        var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com";
        s.setAttribute("type", "text/javascript");
        s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%242cNL6L6I7udHPY27KSRKk%2F" + "&opts=16862&num=10&ts=1504788058473");
        if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
    })();
    /*-->*/ </script>
    <!-- end www.htmlcommentbox.com -->
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
