<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chant Nouveau Belgique </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<!--*************************slider header***************************************************************************-->
<svg id="icons" xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-arrow" viewBox="0 0 476.213 476.213">
        <polygon fill="inherit"
                 points="347.5,324.393 253.353,418.541 253.353,0 223.353,0 223.353,419.033 128.713,324.393 107.5,345.607,238.107,476.213 368.713,345.606 "/>
    </symbol>

</svg>

<div class="slider-content">

    <div class="number-wrapper">
        <div class="number-count">
            <div class="number">01</div>
        </div>
    </div>

    <div class="nav-wrapper">
        <div class="nav-arrows">
            <div class="nav-up">
                <svg id="arrow-up">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
            <div class="nav-line"></div>
            <div class="nav-down">
                <svg id="arrow-down">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
        </div>
    </div>

    <div class="slider-wrapper">
        <div class="slider-container">
            <div class="slide active" data-order="1">
                <div class="slide-content txt">
                    <div class="txt-wrapper">
                        <!--<span class="copy">Intro about me</span>-->
                        <h3><span>Bienvenue à l’Eglise Un Chant Nouveau</span></h3>
                        <span class="subtitle"><i>Assemblée Chrétienne où la vie bouge!</i></span>
                        <p class="excerpt">
                            <i>"Tournons le dos aux pensées et aux choses qui nous retiennent aux "choses de la terre".
                                Arrêtons de nous appesantir sur le temporaire pour nous vocaliser davantage sur ce qui
                                est
                                éternel.
                                Quittons les vallées et allons sur les sommets ensoleillés de la vie abondante !
                                Laissons un
                                peu le visible et gardons nos yeux fixés sur l'invisible.
                                Ne restons pas focalisé sur les problèmes, le péché et la maladie mais changeons de
                                perspective et regardons aux choses d'en haut, la ou Christ siège à la droite de Dieu
                                !"</i>
                            <br>
                            <b>Colossiens 3:1</b>
                        </p>
                        <p class="excerpt">
                            Pasteur Pierre-Yves ABRESOL
                        </p>
                    </div>
                </div>
                <div class="slide-content img">
                    <img src="/images/pasteurs.jpg" alt=""/>
                </div>
            </div>
            <div class="slide" data-order="2">
                <div class="slide-content txt">
                    <div class="txt-wrapper">
                        <!--<span class="copy">Show with me</span>-->
                        <h3><span>Les pasteurs :</span></h3>
                        <ul class="excerpt">
                            <li>Pasteur Robert Othsiba MAKELEBO</li>
                            <li>Pasteur Vicky APLENI</li>
                            <li>Pasteur Valerie ABRESOL</li>
                            <li>Pasteur ALex et Tatiana</li>
                            <li>Evangeliste Julien et Marie Manga Ngoy</li>
                        </ul>
                        <h3><span>Les anciens :</span></h3>
                        <ul class="excerpt">
                            <li> Nicole MARMOLLE</li>
                            <li> Nathalie et Tresor BIANTUADI</li>
                            <li> Elena Iremachvili Retrema et Dominique RETREMA</li>
                            <li>Vanessa et Olivier MAKELEBO</li>
                            <li>Diane PICHON</li>
                            <li></li>
                        </ul>
                        <button><a href="enseignements">ENSEIGNEMENTS</a></button>
                    </div>
                </div>
                <div class="slide-content img">
                    <img src="/images/all_pastors.jpg" alt=""/>
                </div>
            </div>
            <div class="slide " data-order="3">
                <div class="slide-content txt">
                    <div class="txt-wrapper">
                        <span class="copy">Evénements à venir </span>
                        <ul>
                            <li>
                                <div class="date-wrapper">
                                    <div class="date">02</div>
                                    <div class="month">Feb</div>
                                </div>
                                <div class="post-wrapper">
                                    <div class="post-title"><a href="https://www.facebook.com/events/855275571175585/">Louange
                                        KIDS</a></div>
                                    <div class="post-info">
                                        <ul>
                                            <li>Sat 2:00 PM UTC+01/</li>
                                            <li>Un Chant Nouveau Nancy</li>
                                            <li>200 guests</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date-wrapper">
                                    <div class="date">10</div>
                                    <div class="month">Nov</div>
                                </div>
                                <div class="post-wrapper">
                                    <div class="post-title"><a href="https://www.facebook.com/events/1757689341150324/">Concert
                                        Gospel - Chorale Un Chant Nouveau </a></div>
                                    <div class="post-info">
                                        <ul>
                                            <li>Thu 7:30 PM UTC+01/</li>
                                            <li>Salle Poirel Nancy</li>
                                            <li>300 guests</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date-wrapper">
                                    <div class="date">31</div>
                                    <div class="month">Dec</div>
                                </div>
                                <div class="post-wrapper">
                                    <div class="post-title"><a href="https://www.facebook.com/events/1786165538299840/">
                                        Nouvel An 2017 </a></div>
                                    <div class="post-info">
                                        <ul>
                                            <li>Dec 31, 2017 - Jan 1, 2017/</li>
                                            <li>Un Chant Nouveau Nancy</li>
                                            <li>100 guests</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <span class="view-all"><a href="/evenements">Tous les événéments</a></span>

                    </div>
                </div>
                <div class="slide-content img">
                    <img src="/images/louange_team_2.jpg" alt=""/>
                </div>
            </div>
            <div class="slide " data-order="4">
                <div class="slide-content txt">
                    <div class="txt-wrapper">
                        <span class="copy">Un Chant Nouveau Nancy</span>
                        <h2><span>Worship Sessions</span></h2>
                        <p class="excerpt">2 Samuel 22:50 - "C'est pourquoi je te louerai parmi les nations, ô Éternel!
                            Et je chanterai à la gloire de ton nom /<br>
                            Therefore I will praise you, LORD, among the nations; I will sing the praises of your
                            name.<br>
                            Lord, I give You my heart, I give You my soul, I live for you alone, and every breath that I
                            take, every moment I'm awake. Lord, have Your ways in me.<br>
                            Mon plus cher désir, c'est t'honorer. Oui de tout mon cœur, je t'adore. Tout ce qui est en
                            moi te glorifie. Tout ce que j'adore est en toi
                        </p>
                        <button><a href="https://youtu.be/jmEphJaT1c4"> Vidéo clip</a></button>
                    </div>

                </div>

                <div class="slide-content img">
                    <img src="/images/louange_team.jpg" alt=""/>
                </div>
            </div>
            <div class="slide " data-order="5">
                <div class="slide-content txt">
                    <div class="txt-wrapper">
                        <span class="copy">Nous Contactez</span>
                        <h3>Nancy, <span>France</span></h3>
                        <p class="excerpt">72 Bis, Rue Charles Keller, 54000 Nancy, France</p>
                        <p><strong>Courriel:</strong> <a href="mailto:simalto1510@gmail.com">frbondo@gmail.com</a></p>
                        <p>Numéro Téléphone: <span class="phone">+33 (0) 3 54 59 47 09</span></p>
                    </div>
                </div>
                <div class="slide-content img">
                    <img src="/images/eglise_culte.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="social-wrapper">
            <ul>
                <li class="active"><a href="">ACTIVITES</a></li>
                <li class="active"><a href="horaires">HORAIRES</a></li>
                <li class="active"><a href="main_culte">CULTE PRINCIPAL</a></li>
            </ul>
        </div>
        <!--<div class="language-wrapper">-->
        <!--<ul>-->
        <!--<li><a href="accueil">FR</a></li>-->
        <!--<li><a href="accueil">EN</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
</div>

<br><br>
<!--**************************************************************************-->
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3>
                <b>Un Chant Nouveau Belgique </b>
            </h3>
            <a href="/images/chant_nouveau_belgique_all.jpg" data-lightbox="roadtrip"><img id="chant_nouveau_belgique"
                                                                                           src="/images/chant_nouveau_belgique.jpg"
                                                                                           alt=""/></a>
            <br><br>
            <p class="lead"><i>"Une extension de notre Eglise en Belgique ! Une équipe soudée et motivée pour Jésus
                Christ. Allez, faites de toutes
                les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit."</i>
                <b>Matthieu 28:19</b>
            </p>
        </div>

        <div class="col-sm-4">
            <h3>
                <b>Adorer L'Eternel !</b>
            </h3>
            <a href="/images/belgique_1_all.jpg" data-lightbox="roadtrip"> <img id="belgique_1"
                                                                                src="/images/belgique_1.jpg"
                                                                                alt=""/></a>
            <br><br>
            <p class="lead">
                LA JOIE TROUVE SON ORIGINE VÉRITABLE EN DIEU :<i>«Il y a d'abondantes joies devant sa face » </i><br>
                <b>Psaume 16</b><br>
            </p>

        </div>

        <div class="col-sm-4">
            <h3>
                <b>La joie de l'Eternel!</b>
            </h3>
            <a href="/images/belgique_2_all.jpg" data-lightbox="roadtrip"><img id="belgique_2"
                                                                               src="/images/belgique_2.jpg" alt=""/></a>
            <br><br>
            <p class="lead">
                La joie est une liberté….qui est donnée au croyant de vivre en Christ, en dépit des angoisses.
            </p>
            <p class="lead">
                <i>"Un cœur joyeux rend le visage serein » </i><b>Proverbe 15:13</b>
            </p>


        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
