<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le club </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b>Le Club</b></h3>
            <a href="/images/club_1.jpg" data-lightbox="roadtrip"><img id="club_1" src="/images/club_10.jpg"
                                                                       alt=""/></a><br>
            <br><br>
            <p class="lead"><i>"Et Jésus dit: Laissez les petits enfants, et ne les empêchez pas de venir à moi; car le
                royaume des cieux est pour ceux qui leur ressemblent".</i> <b>Matthieu 19:14</b> <br><br>
                C’est avec beaucoup de joie que les enfants se retrouvent chaque dimanche avec des moniteurs de qualité!
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Enfants et éducation selon notre Dieu!
            </b></h3>
            <a href="/images/club_2.jpg" data-lightbox="roadtrip"><img id="club_2" src="/images/club_11.jpg"
                                                                       alt=""/></a>
            <br><br>
            <p class="lead">
                <i>"Enfants, obéissez à vos parents, selon le Seigneur, car cela est juste. <br>Honore ton père et ta
                    mère c'est le premier commandement avec une promesse,<br>
                    afin que tu sois heureux et que tu vives longtemps sur la terre. <br>Et vous, pères,
                    n'irritez pas vos enfants, mais élevez-les en les corrigeant et en les instruisant selon le
                    Seigneur."</i> <br>
                <b>Ephésiens 6: 2 - 4</b>
            </p>
            <p class="lead">
                <i>" Instruis l'enfant selon la voie qu'il doit suivre; Et quand il sera vieux, il ne s'en détournera pas"</i> <br>
                <b>Proverbes 22 : 6</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>Louez L'Éternel à tout âge</b></h3>
            <a href="/images/club_3.jpg" data-lightbox="roadtrip"> <img id="club_3" src="/images/club_12.jpg"
                                                                        alt=""/></a>
            <br><br>
            <p class="lead">
                <i> "Louez l'Eternel ! Louez Dieu dans son sanctuaire ! Louez-le dans l'étendue, où éclate sa puissance
                    !<br>
                    Louez-le pour ses hauts faits ! Louez-le selon l'immensité de sa grandeur !<br>
                    Louez-le au son de la trompette ! Louez-le avec le luth et la harpe !<br>
                    Louez-le avec le tambourin et avec des danses ! Louez-le avec les instruments à cordes et le
                    chalumeau ! <br>
                    Louez-le avec les cymbales sonores ! Louez-le avec les cymbales retentissantes !<br>
                    Que tout ce qui respire loue l'Eternel ! Louez l'Eternel ! " </i><br>
                <b>Psaumes 150</b>
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


