<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipe d'accueil </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b> Equipe d'Accueil</b></h3>
            <a href="/images/equipe_accueil_all.jpg" data-lightbox="roadtrip"><img id="equipe_accueil"
                                                                                   src="/images/equipe_accueil.jpg"
                                                                                   alt=""/></a>
            <br><br>
            <p class="lead"> C’est avec le plus beau sourire que notre équipe vous accueille chaque dimanche matin avec
                un bon thé ou café et des petites gourmandises !
                Un temps de communion fraternelle très agréable et toujours à la hauteur !</p>

        </div>
        <div class="col-sm-4">
            <h3><b>
                Les chantres de L'Eternel !!
            </b></h3>
            <a href="/images/accueil_1_all.jpg" data-lightbox="roadtrip"><img id="equipe_accueil_1"
                                                                              src="/images/accueil_1.jpg" alt=""/></a>

            <br><br>
            <p class="lead">
                LA JOIE TROUVE SON ORIGINE VÉRITABLE EN DIEU :<i>«Il y a d'abondantes joies devant sa face » </i>
                <b>Psaume 16</b><br>
                <i>"Il rend ta bouche joyeuse, et comme l'aigle tu seras toujours jeune."</i><br><b>Psaume 103:5</b>
                Psaume 103:5
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>
                La joie de l'Eternel!!
            </b></h3>
            <a href="/images/accueil_2_all.jpg" data-lightbox="roadtrip"><img id="equipe_accueil_2"
                                                                              src="/images/accueil_2.jpg" alt=""/></a>
            <br><br>
            <p class="lead">
                La joie est une liberté….qui est donnée au croyant de vivre en Christ, en dépit des angoisses.<br>
                <i>"Un cœur joyeux rend le visage serein » </i><b>Proverbe 15:13</b> <br>
                <i>"Le cœur joyeux fait du bien à la santé"</i><b> Proverbe 17:22</b>
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


