<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupe des femmes </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b> Groupe des Femmes</b></h3>
            <a href="/images/groupe_femmes_meeting_2.jpg" data-lightbox="roadtrip"><img id="groupe_femmes_head"
                                                                                       src="/images/groupe_femmes_meeting_2_mini.jpg"
                                                                                       alt=""/></a>
            <br><br>
            <p class="lead"><i>"La Femme vertueuse est revêtue de force et de gloire, Et elle se rit de l’avenir. Elle
                ouvre la bouche avec
                sagesse, Et des instructions aimables sont sur sa langue.
                Elle veille sur ce qui se passe dans sa maison, Et elle ne mange pas le pain de paresse."</i><br><b>Proverbe
                31.</b>
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Femmes vertueuses !
            </b></h3>
            <a href="/images/church_3_all.jpg" data-lightbox="roadtrip"> <img id="femmes_2" src="/images/church_3.jpg"
                                                                              alt=""/></a>
            <br><br>
            <p class="lead">
                <i> "Qui peut trouver une femme vertueuse? Elle a bien plus de valeur que les perles...<br>
                    Ses fils se lèvent, et la disent heureuse; Son mari se lève, et lui donne des louanges<br>
                    Plusieurs filles ont une conduite vertueuse; Mais toi, tu les surpasses toutes.<br>
                    La grâce est trompeuse, et la beauté est vaine; La femme qui craint l'Éternel est celle qui sera
                    louée.<br>
                    Récompensez-la du fruit de son travail, Et qu'aux portes ses oeuvres la louent.
                    " </i><br>
                <b>Proverbes 31:10-31</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>
                Réunion du groupe des femmes !
            </b></h3>
            <a href="/images/groupe_femmes_meeting.jpg" data-lightbox="roadtrip"> <img id="femmes_1" src="/images/groupe_femmes_meeting_mini.jpg"
                                                                              alt=""/></a>
            <br><br>
            <p class="lead">
                <i>"La femme sage bâtit sa maison, Et la femme insensée la renverse de ses propres mains.."</i> <br>
                <b>Proverbes 14:1 </b>

            </p>
            <p class="">
                Une femme vertueuse doit avoir des qualités <i>(<b>Proverbes 31:10-31</b>)</i> suivantes:<br>
                "... <br>
                * <span style="text-decoration: underline;">Verset 18</span> : C'est <b>une femme qui VEILLE</b>, <i>"Sa lampe ne s'éteint pas" </i>..<br>
                * <span style="text-decoration: underline;">Verset 19</span> : Elle est <b>PRODUCTIVE</b>, <i>"elle met la main à la quenouille … "</i><br>
                * <span style="text-decoration: underline;">Verset 20</span> : Elle à de la <b>COMPASSION</b>, <i>"elle tend la main à l'indigent"</i>...<br>
                * <span style="text-decoration: underline;">Verset 21/22</span> : Elle est <b>PROTECTRICE</b>  : <i>"elle ne craint pas la neige... Sa maison est vêtue de cramoisi"...</i><br>
                * <span style="text-decoration: underline;">Verset 23</span> : Elle fait <b>la FIERTE DE SON MARI</b>, dans la Bible, son mari est un homme de bien...<br>
                * <span style="text-decoration: underline;">Verset 25</span> : Elle a une <b>très bonne APPARENCE,</b>  <i>"elle est revêtue de force et de gloire"...</i><br>
                * <span style="text-decoration: underline;">Verset 26</span> : Elle est <b>sage EN PAROLE</b>, <i>"elle ouvre la bouche avec sagesse, instruction aimable... "</i><br>
                ..."
            </p>

        </div>

    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


