<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> intercession </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b> Groupe d'intercession</b></h3>
            <a href="/images/groupe_intercession_head_all.jpg" data-lightbox="roadtrip"> <img id="groupe_intercession_head" src="/images/groupe_intercession_head.jpg" alt=""/></a>
            <br><br>
            <p class="lead"><i>«Je cherche parmi eux un homme qui élève un mur, qui se tienne à la brèche devant moi en faveur du pays, afin que
                je
                ne le détruise pas; mais je n’en trouve point»</i><br><b>Ézéchiel 22:30</b>
            </p>
        </div>
        <div class="col-sm-4">
            <h3><b>
                Priez pour les uns et les autres!
            </b></h3>
            <a href="/images/intercession_group.jpg" data-lightbox="roadtrip"> <img id="intercession_1" src="/images/intercession_group_1.jpg" alt="" /></a>
            <br><br>
            <p class="lead">
                <i>"Faites en tout temps par l'Esprit toutes sortes de prières et de supplications. Veillez à cela avec une entière persévérance, et priez pour tous les saints.<br>
                    Priez pour moi, afin qu'il me soit donné, quand j'ouvre la bouche, de faire connaître hardiment et librement le mystère de l'Évangile.."</i> <br>
                <b>Éphésiens 6:18-19</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>
                Priez aussi pour vos ennemis!
            </b></h3>
            <a href="/images/intercession_group_2_all.jpg" data-lightbox="roadtrip"> <img id="intercession_2" src="/images/intercession_group_2.jpg" alt=""/></a><br>
            <br><br>
            <p class="lead">
                <i> "Mais moi, je vous dis: Aimez vos ennemis, bénissez ceux qui vous maudissent, faites du bien à ceux qui vous haïssent, et priez pour ceux qui vous maltraitent et qui vous persécutent,
                    afin que vous soyez fils de votre Père qui est dans les cieux; car il fait lever son soleil sur les méchants et sur les bons, et il fait pleuvoir sur les justes et sur les injustes" </i><br>
                <b>Mathieu 5:44-45</b>
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


