<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Jeunesse </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b>Groupe de jeunes</b></h3>
            <a href="/images/jeunesse_head.jpg" data-lightbox="roadtrip"><img id="groupe_jeune_head"
                                                                              src="/images/jeunesse_head_1.jpg" alt=""/></a>
            <br><br>
            <p class="lead"><i>Il faut <b>"Chercher ensemble et individuellement à connaître toujours plus le
                Seigneur"</b></i> et <i><b>"transmettre la
                bonne nouvelle du Seigneur autour de nous ".</b></i> Si tu es jeune et que tu as le désir de te
                rapprocher de
                Dieu, des questions sur Dieu et sa parole. Ou que tu as le désir de découvrir comment partager le
                message de l’évangile aux
                autres. Nous t’encourageons à nous rejoindre. Comme dit la parole <i><b>"Viens et vois"</b></i><br>
                <b>Jean 1:46</b>
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Louez Notre Seigneur Jésus-Christ!
            </b></h3>
            <a href="/images/jeunesse_1_all.jpg" data-lightbox="roadtrip"><img id="jeunesse_1"
                                                                               src="/images/jeunesse_1.jpg" alt=""/></a>
            <br><br>
            <p class="lead">
                <i>"Louez l'Eternel ! Louez Dieu dans son sanctuaire ! Louez-le dans l'étendue, où éclate sa puissance !<br>
                    Louez-le pour ses hauts faits ! Louez-le selon l'immensité de sa grandeur !<br>
                    Louez-le au son de la trompette !...! Louez-le avec les cymbales retentissantes !<br>
                    Que tout ce qui respire loue l'Eternel ! Louez l'Eternel !" </i><br>
                <b>Psaumes 150</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>
                Jeunnesse en Christ!
            </b></h3>
            <p class="lead">
                <i>"Déclare ces choses, et enseigne-les. <br>
                    Que personne ne méprise ta jeunesse; mais sois un modèle pour les fidèles, en parole, en conduite,
                    en charité, en foi, en pureté.<br>
                    Jusqu'à ce que je vienne, applique-toi à la lecture, à l'exhortation, à l'enseignement."</i> <br>
                <b>Timothée 4:11-13</b>
            </p>
            <h4>
                <i><b>Video évangelisation des jeunes 2017 à Nancy</b></i>
            </h4>
            <iframe id="iframe_video_flashmod"
                    src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Funchantnouveaunancy%2Fvideos%2F1623820387639583%2F&show_text=0&width=560"
                    width="400" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allowFullScreen></iframe>


        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


