<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Louange </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_justify">
        <div class="col-sm-4">
            <h3><b>Groupe de Louange</b></h3>
            <a href="/images/louange_team.jpg" data-lightbox="roadtrip"><img id="groupe_louange_head" src="/images/louange.jpg" alt=""/></a><br>
            <br><br>
            <p class="lead"><i>"Entretenez-vous par des psaumes, par des hymnes, et par des cantiques spirituels, chantant et célébrant de tout
                votre coeur les louanges du Seigneur."</i><br>
                <b>Éphésiens 5:19</b>
                </p>
            <p class="lead">
                Venez et célébrez Dieu avec nous <b>chaque dimanche à 10h !</b>
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Les adorateurs de YAHWÉ
            </b></h3>
            <a href="/images/team_worship.jpg" data-lightbox="roadtrip"> <img id="louange_1" src="/images/louange_1.jpg" alt="" /></a>
            <br><br>
            <p class="lead">
                <i>"Poussez vers l'Eternel des cris de joie, Vous tous, habitants de la terre ! <br>
                Servez l'Eternel, avec joie, Venez avec allégresse en sa présence !<br>
                Sachez que l'Eternel est Dieu ! C'est lui qui nous a faits, et nous lui appartenons; Nous sommes son peuple, et le troupeau de son pâturage.<br>
                Entrez dans ses portes avec des louanges, Dans ses parvis avec des cantiques ! Célébrez-le, bénissez son nom ! <br>
                Car l'Eternel est bon; sa bonté dure toujours, Et sa fidélité de génération en génération." </i><br> <b>Psaumes 100</b>
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Rejoins-nous!
            </b></h3>
            <a href="/images/louange_team_3_all.jpg" data-lightbox="roadtrip"> <img  id="louange_2" src="/images/louange_2.jpg" alt="" /></a>
            <br><br>
            <p class="lead">
                <i> "Louez l'Eternel ! Louez Dieu dans son sanctuaire ! Louez-le dans l'étendue, où éclate sa puissance !<br>
                    Louez-le pour ses hauts faits ! Louez-le selon l'immensité de sa grandeur !<br>
                    Louez-le au son de la trompette ! Louez-le avec le luth et la harpe !<br>
                    Louez-le avec le tambourin et avec des danses ! Louez-le avec les instruments à cordes et le chalumeau ! <br>
                    Louez-le avec les cymbales sonores ! Louez-le avec les cymbales retentissantes !<br>
                    Que tout ce qui respire loue l'Eternel ! Louez l'Eternel ! " </i><br>
                <b>Psaumes 150</b>
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>


