<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipe media </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_justify">
        <div class="col-sm-4">
            <h3><b>Equipe Médias</b></h3>
            <a href="/images/logo_media.png" data-lightbox="roadtrip"><img id="media" src="/images/media_2.jpg" alt=""/></a>
            <br><br>
            <p class="lead"><i>Tout ce que vous faites, faites-le de bon coeur, comme pour le Seigneur et non pour des
                hommes, sachant que vous
                recevrez du Seigneur l’héritage pour récompense. Servez Christ, le Seigneur.…"</i> <b> Colossiens
                3:23-24.</b> <br>
            </p>
            <p class="lead">
                Une équipe de choc à votre service !
            </p>
        </div>

        <div class="col-sm-4">
            <h3><b>
                Servir Dieu avec joie !
            </b></h3>
            <a href="/images/equipe_media_all.jpg" data-lightbox="roadtrip"><img id="equipe_media"
                                                                                 src="/images/equipe_media.jpg" alt=""/></a><br>
            <br><br>
            <p class="lead">
                <i>"Servez l’Eternel avec joie !"</i> <b>Psaume 100:2</b>
            </p>
            <p class="lead">
                <i>"Comme de bons dispensateurs des diverses grâces de Dieu, que chacun de vous mette au service des
                    autres le don qu’il a reçu."</i>
                <b>Pierre 4 :10</b>
            </p>

            <p class="lead">
                La sonorisation dans une église revêt une grande importance par l'enseignement et la lecture de la
                parole de Dieu qui y est fait.
            </p>


        </div>

        <div class="col-sm-4">
            <h3><b>
                Servir notre Père, YAHWEH !
            </b></h3>
            <a href="/images/media_3.jpg" data-lightbox="roadtrip"><img id="equipe_media_1"
                                                                        src="/images/media_3_mini.jpg" alt=""/></a>
            <br><br>
            <p class="lead">
                Le service pour Dieu ne concerne donc que ceux qui sont devenus véritablement chrétiens, par une
                décision personnelle.<br>
                Ceux qui ne le sont pas ne font pas partie de la famille de Dieu et ne peuvent donc servir Dieu car ils
                ne Le connaissent pas personnellement.
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
