<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activités</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container">
    <div id="border_image">
        <div class="row">
            <div class="col-xs-3 col-md-3">
                <h4><b>Groupe de Jeunes</b></h4>
                <a href="/images/jeunesse_head.jpg" data-lightbox="roadtrip"><img id="groupe_jeune_head" src="/images/jeunesse_head_1.jpg" alt=""/></a> <br>
                <p> <i>"Chercher ensemble et individuellement à connaître toujours plus le Seigneur"</i> et <i>"transmettre la
                    bonne nouvelle du Seigneur autour de nous ".</i> Si tu es jeune et que tu as le désir de te rapprocher de
                    Dieu, des questions sur Dieu et sa parole. Ou que tu as le désir de découvrir comment partager le message de l’évangile aux
                    autres. Nous t’encourageons à nous rejoindre. Comme dit la parole <i>"Viens et vois"</i><br>
                    <b>Jean 1:46</b>
                </p>
                <p><a href="/activites/jeunesse">Details </a></p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h4><b> Groupe d'intercession</b></h4>
                <a href="/images/groupe_intercession_head_all.jpg" data-lightbox="roadtrip"><img id="groupe_intercession_head" src="/images/groupe_intercession_head.jpg" alt=""/></a><br>
                <p><i>"Je cherche parmi eux un homme qui élève un mur, qui se tienne à la brèche devant moi en faveur du
                    pays, afin que je ne le détruise pas; mais je n’en trouve point."</i><br>
                    <b>Ézéchiel 22:30 </b>
                </p>
                <p><a href="/activites/intercession">Details </a></p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h4><b>Groupe Anglophone</b></h4>
                <a href="/images/groupe_anglophonne_head_all.jpg" data-lightbox="roadtrip"><img id="groupe_anglophonne_head" src="/images/groupe_anglophonne_head.jpg" alt=""/></a><br>
                <p>
                    <i>"Et que toute langue confesse que Jésus-Christ est Seigneur, à la Gloire de Dieu le Père."</i><br>
                    <b>Philippiens 2:11</b><br>

                    Culte de célébration en anglais un dimanche sur deux à 14h40 !
                </p>
                <p><a href="/cultes/culte_anglophone">Details </a></p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h4><b> Groupe Russophone</b></h4>
                <a href="/images/groupe_russophone_head_all.jpg" data-lightbox="roadtrip"> <img id="groupe_russophone_head" src="/images/groupe_russophone_head.jpg" alt=""/></a><br>
                <p>
                    <i>"Un véritable réveil pour le peuple de l’Est grâce au Saint Esprit qui agit à travers ce couple !
                    Allez, faites de
                    toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit."</i><br>
                    <b>Matthieu 28:19</b>
                </p>
                <p><a href="/cultes/culte_russophone">Details </a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-md-3">
                <h4><b> Groupe de Louange</b></h4>
                <a href="/images/tata_all.jpg" data-lightbox="roadtrip"><img id="groupe_louange_head" src="/images/tata_vicky.jpg" alt=""/></a><br>
                <p><i>"Entretenez-vous par des psaumes, par des hymnes, et par des cantiques spirituels, chantant et
                    célébrant de tout votre coeur les louanges du Seigneur."</i><br>
                    <b>Éphésiens 5:19</b><br>

                    Venez et célébrez Dieu avec nous chaque dimanche à 10h !</p>
                <p><a href="/activites/louange">Details </a></p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h4><b>Le Club</b></h4>
                <a href="/images/club_all.jpg" data-lightbox="roadtrip"><img id="club" src="/images/club.jpg" alt=""/></a><br>
                <p><i>"Et Jésus dit: Laissez les petits enfants, et ne les empêchez pas de venir à moi; car le royaume des
                    cieux est pour ceux qui leur ressemblent."</i><br>
                    <b>Matthieu 19:14</b><br>

                    C’est avec beaucoup de joie que les enfants se retrouvent chaque dimanche avec des moniteurs de
                    qualité !
                </p>
                <p><a href="/activites/club">Details </a></p>
            </div>


            <div class="col-xs-3 col-md-3">
                <h4><b> Groupe des Femmes</b></h4>
                <a href="/images/groupe_femmes_meeting_2.jpg" data-lightbox="roadtrip"><img id="groupe_femmes_head" src="/images/groupe_femmes_meeting_2_mini.jpg" alt=""/></a> <br>
                <p><i>"La Femme vertueuse est revêtue de force et de gloire, Et elle se rit de l’avenir. Elle ouvre la
                    bouche avec sagesse, Et des instructions aimables sont sur sa langue.
                    Elle veille sur ce qui se passe dans sa maison, Et elle ne mange pas le pain de paresse."</i><br>
                    <b>Proverbe 31 </b>
                </p>
                <p><a href="/activites/femmes">Details </a></p>
            </div>


            <div class="col-xs-3 col-md-3">
                <h4><b> Equipe d'Accueil</b></h4>
                <a href="/images/equipe_accueil_all.jpg" data-lightbox="roadtrip"><img id="equipe_accueil" src="/images/equipe_accueil.jpg" alt=""/></a><br>
                <p> C’est avec le plus beau sourire que notre équipe vous accueille chaque dimanche matin avec un bon
                    thé ou café et des petites gourmandises !
                    Un temps de communion fraternelle très agréable et toujours à la hauteur !</p>
                <p><a href="/activites/equipe_accueil">Details </a></p>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-3 col-md-3">
                <h4><b>Equipe Médias</b></h4>
                <a href="/images/equipe_media_all.jpg" data-lightbox="roadtrip"> <img id="equipe_media" src="/images/equipe_media.jpg" alt=""/></a><br>
                <p><i>"Tout ce que vous faites, faites-le de bon coeur, comme pour le Seigneur et non pour des hommes,
                    sachant que vous recevrez du Seigneur l’héritage pour récompense. Servez Christ, le Seigneur.…"</i><br>
                    <b>Colossiens 3:23-24.</b><br>

                    Une équipe de choc à votre service !
                </p>
                <p><a href="/activites/media">Details </a></p>
            </div>


            <div class="col-xs-3 col-md-3">
                <h4><b>Un Chant Nouveau Belgique</b></h4>
                <a href="/images/chant_nouveau_belgique_all.jpg" data-lightbox="roadtrip"><img id="chant_nouveau_belgique" src="/images/chant_nouveau_belgique.jpg" alt=""/></a><br>
                <p>Une extension de notre Eglise en Belgique ! Une équipe soudée et motivée pour Jésus Christ. <br>
                    <i>"Allez,
                    faites de toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit."</i><br>
                    <b>Matthieu 28:19</b>
                </p>
                <p><a href="/activites/chant_nouveau_belgique">Details </a></p>
            </div>

            <div class="col-xs-3 col-md-3">
                <h4><b> Un Chant Nouveau Dieuze </b></h4>
                <a href="/images/logo_ucn_big.jpg" data-lightbox="roadtrip"><img id="chant_nouveau_dieuze" src="/images/chant_nouveau_dieuze.jpg" alt=""/></a> <br>
                <p>Une extension de notre Eglise dans le village de Lindre Basses ! Nous nous multiplions !</p>
                <p><a href="/activites/chant_nouveau_dieuze">Details </a></p>
            </div>
        </div>

    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>

</body>
</html>
