<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Contact </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
    <div w3-include-html="/html/menu.html"></div>

    <div class="Contact_UCN">

        <h1>Message bien Envoyer</h1>

    </div>

    <footer>
        <div w3-include-html="/html/footer.html"></div>
    </footer>

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/lightbox/lightbox.js"></script>
    <script>
        lightbox.option({
            'alwaysShowNavOnTouchDevices': true
        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
    <script src="/javascripts/exploring/js/index.js"></script>
    <script src="/javascripts/bootstrap-3.3.7.min.js"></script>
    <script src="/javascripts/w3.js"></script>
    <script> w3.includeHTML();</script>
</body>
</html>
