<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Contact </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container">

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <h1 id="text_center"><b>Plan d'accès</b></h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2633.196816256547!2d6.172018!3d48.701719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba7a7953eb80e23e!2sEglise+Un+Chant+Nouveau!5e0!3m2!1sfr!2sfr!4v1501074090906"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-6 col-md-6">
            <h1><b>Accès Bus/tram</b></h1>
            <p id="text_center_2" class="lead"><span style="text-decoration: underline;">Bus lignes:</span></p>
            <ul>
                <li><b>6 </b>:Direction <b>Villers Clairlieu / Malzéville Savlons</b> => arrêts: <b>"Pierson"</b> ou <b>"Jolie
                    coeur"</b>
                </li>
                <li><b>9 </b>: Direction <b>Nancy Tamaris/ SAULUXURES Centre</b> => arrêts: <b>"Saint Fiacre"</b></li>
                <li><b>16</b> :Direction <b>Villers Clairlieu / Malzéville - Malzéville Margeville</b> => arrêts: <b>"Pierson"</b>
                    ou <b>"Jolie
                        coeur"</b></li>
                <li><b>19 </b>:Direction <b>JARVILLE République/MAXEVILLE Mairie</b> => arrèts: <b>"Pierson"</b> ou <b>"Jolie
                    coeur"</b>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <br>
            <h1><b><span style="text-decoration: underline;">Contact Us</span></b></h1>
            <!-- start Contact Box -->
            <script data-sil-id='59b12859e36cdd001a670eae'> (function () {
                var d = document, w = window, l = window.location, p = l.protocol == 'file:' ? 'http://' : '//';
                if (!w.WS) w.WS = {};
                c = w.WS;
                var m = function (t, o) {
                    var e = d.getElementsByTagName('script');
                    e = e[e.length - 1];
                    var n = d.createElement(t);
                    if (t == 'script') {
                        n.async = true;
                    }
                    for (k in o) n[k] = o[k];
                    e.parentNode.insertBefore(n, e)
                };
                m('script', {
                    src: p + 'bawkbox.com/widget/contact/59b12859e36cdd001a670eae?page=' + encodeURIComponent(l + ''),
                    type: 'text/javascript'
                });
                c.load_net = m;
            })();</script>
            <div class='sil-widget-contact sil-widget' id='sil-widget-59b12859e36cdd001a670eae'><a
                    href='https://htmlcontactbox.com'></a></div>
            <!-- end Contact Box -->
        </div>

    </div>


</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>




