<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enseignements</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_speach">

    <div class="row">
        <h3><b><span style="text-decoration: underline;">Enseignements Vidéos</span></b></h3>
        <ul class="list-inline">
            <li>
                <h4><i><b>"Bénissez"</b></i> avec Pasteur Valerie ABRESOL</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cU6tZOqrvOw" frameborder="0"
                        allowfullscreen></iframe>
            </li>

            <li>
                <h4><i><b>"Marcher dans la volonté de Dieu"</b></i> avec Marie Ngoy</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aLrYUhOUzwI" frameborder="0"
                        allowfullscreen></iframe>
            </li>
            <li>
                <a class="navbar-brand" href="https://www.youtube.com/channel/UCoF7SzgKMqLuzyHJ2YUespg/videos"> <b>Autres
                    vidéos d'enseignements</b></a>
            </li>
        </ul>
    </div>

    <div class="row">
        <h3><b><span style="text-decoration: underline;">Playlists vidéos</span></b></h3>
        <ul class="list-inline">
            <li>
                <h4><i><b>"Une minute d'enseignement"</b></i> avec Pasteur Pierre-Yves ABRESOL</h4>
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/LisaXa1lbcQ?list=PLab1qmQJO88KqUPFfHcx1ZFOen_rV0tyl"
                        frameborder="0"
                        allowfullscreen></iframe>
            </li>

            <li>
                <h4><i><b>Louange / Adoration</b></i></h4>
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/videoseries?list=PLab1qmQJO88JoSIbmT1jFMw624_3qF0B_"
                        frameborder="0"
                        allowfullscreen></iframe>
            </li>

            <li>
                <h4>
                    <i><b>"Notre relation avec Dieu</b></i>
                </h4>
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/videoseries?list=PLab1qmQJO88IxBrsgfejtTPO629_vFeJH"
                        frameborder="0"
                        allowfullscreen></iframe>
            </li>
            <li>
                <h3>
                    <a class="navbar-brand"
                       href="https://www.youtube.com/channel/UCoF7SzgKMqLuzyHJ2YUespg/playlists"><b><span
                            style="text-decoration: underline;">Autres playlists d'enseignements</span></b></a>
                </h3>
            </li>

        </ul>
    </div>
</div>
<br><br>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>



