<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>

<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>

<div id="body_container">
    <div class="row" id="text_center">

        <div class="col-sm-5">

            <a href="/images/views_church_all.jpg" data-lightbox="roadtrip"><img id="view" src="/images/views_church_1.jpg" height="300px" alt=""/></a>
            <h2 style="color:skyblue"> <b>Bienvenue </b> à l'église UN CHANT NOUVEAU où la vie bouge</h2>
            <p class="lead">
                L'Eglise  UN CHANT NOUVEAU est une église membre de la Fédération Protestante de France.<br>
                Chaque dimanche nous nous réunissons pour célébrer Dieu, étudier la bible et vivre un temps de partage en toute amitié
             </p>
            <p class="lead">
               Choissisez le meilleur pour votre vie, et venez découvrir Dieu qui est proche de vous, et attentif à vos soucis du quotidien.<br>
                Il n'y a personne qui puis transformer votre vie comme Jésus-Christ peut le faire. Il a un plan de bonheur pour votre Vie <br>
                Des millions de personnes à travers le monde ont choisi de se confier en lui. Il redonne espoir, force de vivre et il est toujours capable d'agir quand nous nous confions à lui.
            </p>
            <p class="lead">
                Choissisez le meilleur pour votre vie, et venez découvrir Dieu qui est proche de vous, et attentif à vos soucis du quotidien.<br>
                Il n'y a personne qui puis transformer votre vie comme Jésus-Christ peut le faire. Il a un plan de bonheur pour votre Vie <br>
                Des millions de personnes à travers le monde ont choisi de se confier en lui. Il redonne espoir, force de vivre et il est toujours capable d'agir quand nous nous confions à lui.
            </p>

            <h2 style="color:skyblue">Un <b>couple</b> de Pasteurs qui aimerait <b>vous</b> rencontrer</h2>
            <p class="lead">
               <i>"vous avez de la valeur aux yeux de Dieu, vous avez de l'importance et Il vous aime."</i>
            </p>
            <p style="text-align: right"><i>Pierre Yves et Valérie ABRESOL</i></p>

            <h2 style="color:skyblue">Un <b>club</b>pour<b>vos</b> enfants</h2>
            <p class="lead">
                Des enseignements, leçons bibliques, histoires racontées, danses, chants, théatre, et encore divers activités.<br>
                Les enfants s'y retrouvent avec Joie...
            </p>

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <a href="/images/louange_3_all.jpg" data-lightbox="roadtrip"> <img id="head_church" src="/images/louange_3.jpg" alt=""/></a>
            <h2 style="color:skyblue"><b>CELEBRATION</b> DYNAMIQUE!</h2>
            <a href="/images/bulle.png" data-lightbox="roadtrip"><img id="bulle" src="/images/bulle.png" height="300px" alt=""/></a>
            <h3> <b>Au programme:</b></h3>
            <p class="lead">
                <b> Musique</b> Gospel, Africaine & Variétés, <b>témoignages</b> de vies transformées, <b> Enseignements</b>, club des <b>ados</b> et des <b>enfants</b>.
            </p>
            <p class="lead">
                Dans la <b>semaine</b>, il y a aussi des activités :
            </p>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr style=" background-color:skyblue">
                        <td class="col-xs-4"><b>JOUR</b></td>
                        <td class="col-xs-4"><a href="/programmes/horaires"><b>HORAIRES *</b></a></td>
                        <td class="col-xs-4"><a href="activites"><b>ACTIVITES **</b></a></td>
                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>14h - 16h</td>
                        <td><a href="/activites/femmes">Groupe des femmes</a></td>
                    </tr>
                    <tr style=" background-color:skyblue">
                        <td>Mercredi</td>
                        <td>14h - 17h </td>
                        <td><a href="/cultes/culte_russophone">Groupe russophone</a></td>
                    </tr>
                    <tr>
                        <td>1 Vendredi sur 2</td>
                        <td>19h - 21h</td>
                        <td><a href="/activites/intercession">Groupe d'intercession</a></td>
                    </tr>
                    <tr style=" background-color:skyblue">
                        <td>Vendredi</td>
                        <td>19h30 - 21h30</td>
                        <td><a href="/activites/louange">Groupe de Louange</a></td>
                    </tr>
                    <tr>
                        <td>Samedi</td>
                        <td>18h - 20h</td>
                        <td><a href="/activites/jeunesse">Groupe de jeunes</a></td>
                    </tr>
                    <tr style=" background-color:skyblue">
                        <td>1 Dimanche sur 2</td>
                        <td>14h30 - 16h30</td>
                        <td><a href="/cultes/culte_anglophone">Culte Bilingue</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>*</b> <i>Pour accéder au details d'activiter cliquer sur le lien "Activités" ou le nom de l'activité (ex: groupe de jeunes)</i> <br>
                            <b>**</b> <i>Pour accéder au page dediée aux horaires cliquez sur "Horaires"</i>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p class="lead">
                Pour les autres activités, par example les Ecoles bibliques ou groupes de maisons, etc.<br> N'hesitez pas à nous "<span style="text-decoration: underline;"><a href="contact">contacter</a></span>" pour plus d'informations.
            </p>

        </div>
    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
