/*Bar de recherche dimension*/
#addsearch-results{
    width: 300%;
}
/**********************************************************************************************************************/
/*BODY */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body_search h1{
    margin: 0 auto;
    background-color: lightgrey;
    padding-left:200px;

}
#body_comments{
    width: 80%;
    margin: 0 auto;
}
#body_comments p,#body_container_speach h3{
    text-align: justify;
}
/**********************************************************************************************************************/

/*BODY CONTAINER*/
#body_container{
  width: 80%;
  margin: 0 auto;
}
#body_container_p, #body_container_speach,#body_container_ex,#body_container_songs,#body_container_photos{
    width: 80%;
    margin: 0 auto;
}
#body_container_p p{
   font-size: 130%;
}

#body_container_p div>h3{
    text-align: center;
}

#body_container_photos div>h3{
    text-align: left;
}
#body_container_ex p{
    text-align: justify;
    font-size: 120%;
}
/**********************************************************************************************************************/

/*Collapse nav bar*/
.collapse li{
    color: #00B7FF;
}
/**********************************************************************************************************************/

/*BORDER IMAGE*/
#border_image div>h3,#body_container_songs div>h3,#body_container_songs div>ul>li>h4{
    text-align: justify;
}

#border_image div>a>img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#border_image_1 div>a>img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#border_image_1 h2,h3,h4,p{
    text-align: center;
}
/**********************************************************************************************************************/

/*FOOTER*/
/* Set black background color, white text and some padding */
footer {
    color: darkgrey;
}

/**********************************************************************************************************************/

/*IFRAME VIDEO***/
#iframe_video{
    /*border-radius: 5%;*/
    width:420px;
    height:380px
}
/**********************************************************************************************************************/

/*MENU HEADER ET BORDER*/
#menu_header{
    border-radius: 50%;
}

#menu_border{
    width: 80%;
}
/**********************************************************************************************************************/

/*NAV BAR*/
.navbar-header a{
    color: deepskyblue;
}
/**********************************************************************************************************************/

/*Photos margin-right*/

#Photos_UCN img {
    margin-right: 5px;
}
/**********************************************************************************************************************/

/*TEXT ALIGN*/
#text_justify p {
    text-align: justify;
}

#text_center_accueil p {
    text-align: justify;
    font-size: 130%;
}
#text_center {
  text-align: center;
  justify-content:center;
}

#text_center p {
    text-align: justify;
}
#text_center_1 {
    text-align: justify;
}
#text_center_2 {
    text-align: left;
}

/*UL CENTER*/
#ul_center h2{
    text-align: justify;
}

/**********************************************************************************************************************/
#view {
    width: 600px;
}

/*SMALL SCREEN*/
@media (max-width: 990px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    border-left: 5vw solid #178ACC;
    height: 40px;
    font-size: 16px;
    color: #f4ebeb;
    background-color: #000;
  }
  .navbar-default .navbar-nav > li > a > span {
    display:inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 2px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
/**********************************************************************************************************************/
/*!****************************************Image zoom css**************************************************************/
/*#myImg {*/
/*border-radius: 5px;*/
/*cursor: pointer;*/
/*transition: 0.3s;*/
/*}*/

/*#myImg:hover {opacity: 0.7;}*/

/*!* The Modal (background) *!*/
/*.modal {*/
/*display: none; !* Hidden by default *!*/
/*position: fixed; !* Stay in place *!*/
/*z-index: 1; !* Sit on top *!*/
/*padding-top: 100px; !* Location of the box *!*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%; !* Full width *!*/
/*height: 100%; !* Full height *!*/
/*overflow: auto; !* Enable scroll if needed *!*/
/*background-color: rgb(0,0,0); !* Fallback color *!*/
/*background-color: rgba(0,0,0,0.9); !* Black w/ opacity *!*/
/*}*/

/*!* Modal Content (image) *!*/
/*.modal-content {*/
/*margin: auto;*/
/*display: block;*/
/*width: 80%;*/
/*max-width: 700px;*/
/*}*/

/*!* Caption of Modal Image *!*/
/*#caption {*/
/*margin: auto;*/
/*display: block;*/
/*width: 80%;*/
/*max-width: 700px;*/
/*text-align: center;*/
/*color: #ccc;*/
/*padding: 10px 0;*/
/*height: 150px;*/
/*}*/

/*!* Add Animation *!*/
/*.modal-content, #caption {*/
/*-webkit-animation-name: zoom;*/
/*-webkit-animation-duration: 0.6s;*/
/*animation-name: zoom;*/
/*animation-duration: 0.6s;*/
/*}*/

/*@-webkit-keyframes zoom {*/
/*from {-webkit-transform:scale(0)}*/
/*to {-webkit-transform:scale(1)}*/
/*}*/

/*@keyframes zoom {*/
/*from {transform:scale(0)}*/
/*to {transform:scale(1)}*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*position: absolute;*/
/*top: 15px;*/
/*right: 35px;*/
/*color: #f1f1f1;*/
/*font-size: 40px;*/
/*font-weight: bold;*/
/*transition: 0.3s;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*color: #bbb;*/
/*text-decoration: none;*/
/*cursor: pointer;*/
/*}*/
/**********************************************************************************************************************/
