<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horaires</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container">
    <div id="border_image_1">

        <div class="row">
            <div class="col-xs-4 col-md-4">
                <h3><b>Groupe de Jeunes</b></h3>
                <a href="/images/jeunesse_julien.jpg" data-lightbox="roadtrip"><img id="groupe_jeune_head"
                                                                                    src="/images/groupe_jeune_head.jpg"
                                                                                    alt=""/></a><br>
                <h4><b>Samedi 18H - 20H</b></h4>
                <p><a href="/activites/jeunesse">Details </a></p>
            </div>

            <div class="col-xs-4 col-md-4">
                <h3><b> Groupe d'intercession</b></h3>
                <a href="/images/intercession_group.jpg" data-lightbox="roadtrip"><img id="groupe_intercession_head"
                                                                                       src="/images/intercession_group_1.jpg"
                                                                                       alt=""/></a><br>
                <h4><b>Vendredi</b> (1 SUR 2)<b> 19H - 21H</b></h4>
                <p><a href="/activites/intercession">Details </a></p>
            </div>

            <div class="col-xs-4 colmd-4">
                <h3><b>Groupe Anglophone</b></h3>
                <a href="/images/groupe_anglophonne_head_all.jpg" data-lightbox="roadtrip"><img
                        id="groupe_anglophonne_head" src="/images/groupe_anglophonne_head.jpg" alt=""/></a><br>
                <h4><b>Dimanche</b> (1 SUR 2)<b> 14H30 - 16H30</b></h4>
                <p><a href="/cultes/culte_anglophone">Details </a></p>
            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <h3><b> Groupe de Louange</b></h3>
                <a href="/images/louange_team.jpg" data-lightbox="roadtrip"><img id="louange_team"
                                                                                 src="/images/louange_team.jpg" alt=""/></a><br>
                <h4><b>Vendredi 19H30 - 21H30</b></h4>
                <p><a href="/activites/louange">Details </a></p>
            </div>

            <div class="col-xs-4 col-md-4">
                <h3><b> Groupe des Femmes</b></h3>
                <a href="/images/groupe_femmes_meeting_2.jpg" data-lightbox="roadtrip"><img id="groupe_femmes_head"
                                                                                            src="/images/groupe_femmes_meeting_2_mini.jpg"
                                                                                            alt=""/></a>
                <h4><b>Mardi 14H - 16H</b></h4>
                <p><a href="/activites/femmes">Details </a></p>
            </div>

            <div class="col-xs-4 col-md-4">
                <h3><b> Groupe Russophone</b></h3>
                <a href="/images/groupe_russophone_head_all.jpg" data-lightbox="roadtrip"><img
                        id="groupe_russophone_head" src="/images/groupe_russophone_head.jpg" alt=""/><br></a>
                <h4><b>Mercredi 14H - 17H</b></h4>
                <p><a href="/cultes/culte_russophone">Details </a></p>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>

</body>
</html>
