<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culte russophone</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">
    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b>
                Добро пожаловать в церковь - новая песня!
            </b></h3>
            <p class="lead">
                <i>"
                    Реальное пробуждение для народа Востока через Святой Дух, который работает через эту пару!
                    <br>Идите, научите все народы, крестя их во имя Отца, Сына и Святого Духа"<br></i>
                <b> Matthew 28:19</b>
            </p>
            <!--<iframe id="russophone" width="450" height="400" src="https://www.youtube.com/embed/YrxCB8eX7IU"-->
                    <!--frameborder="0"-->
                    <!--allowfullscreen></iframe>-->
            <iframe id="russophone" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Funchantnouveaunancy%2Fvideos%2F1610805508941071%2F&show_text=0&width=560"
                    width="450" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allowFullScreen></iframe>


        </div>
        <div class="col-sm-4">
            <h3><b>
                Присоединяйтесь к нам, чтобы хвалить Господа Иисуса!!!
            </b></h3>
            <a href="/images/church_6_all.jpg" data-lightbox="roadtrip"><img id="church_6" src="/images/church_6.jpg"
                                                                             alt=""/></a>
            <br><br>
            <p class="lead">
                <i> "Louez l'Eternel ! Louez Dieu dans son sanctuaire ! Louez-le dans l'étendue, où éclate sa puissance
                    !<br>
                    Louez-le pour ses hauts faits ! Louez-le selon l'immensité de sa grandeur !<br>
                    Louez-le au son de la trompette ! Louez-le avec le luth et la harpe !<br>
                    Louez-le avec le tambourin et avec des danses ! Louez-le avec les instruments à cordes et le
                    chalumeau ! <br>
                    Louez-le avec les cymbales sonores ! Louez-le avec les cymbales retentissantes !<br>
                    Que tout ce qui respire loue l'Eternel ! Louez l'Eternel ! " </i><br>
                <b>Psaumes 150</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3><b>Culte russe et aménien</b></h3>
            <a href="/images/groupe_russophone_head_all.jpg" data-lightbox="roadtrip"><img id="groupe_russophone"
                                                                                           src="/images/groupe_russophone_head.jpg"
                                                                                           alt=""/></a> <br> <br>
            <br><br>
            <p class="lead">
                <i>"Un véritable réveil pour le peuple de l’Est grâce au Saint Esprit qui agit à travers ce couple !
                    Allez, faites de
                    toutes les nations des disciples, les baptisant au nom du Père, du Fils et du Saint-Esprit."<br></i>
                <b> Matthieu 28:19</b>
            </p>

        </div>

    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
