<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culte principal</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/stylesheets/lightbox/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/exploring/css/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css"
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_p">

    <div class="row" id="text_center">
        <div class="col-sm-4">
            <h3><b>L’Eglise Un Chant Nouveau Nancy</b></h3>
            <a href="/images/groupe_pasteurs.jpg" data-lightbox="roadtrip"><img id="media"
                                                                                src="/images/groupe_pasteurs_2.jpg"
                                                                                alt=""/></a>
            <br><br>
            <p class="lead">
                Venez faire partie de notre grande famille riche en couleurs et en cultures.
                Notre raison de vivre est de louer Dieu et ce qui fait notre joie c’est de partager notre Foi en Jésus
                Christ.
                Assemblée Chrétienne où la vie bouge! <br>La foi est un style de vie et non une religion. Rejoignez-nous
                et partageons l'amour de Jésus Christ.
            </p>

        </div>

        <div class="col-sm-4">
            <h3>
                <b>Ressourcez-vous !</b>
            </h3>
            <a href="/images/church_2_all.jpg" data-lightbox="roadtrip"><img id="head_church" src="/images/church_2.jpg"
                                                                             alt=""/></a>
            <br><br>
            <p class="lead">
                <i>"Poussez vers l'Eternel des cris de joie, Vous tous, habitants de la terre ! <br>
                    Servez l'Eternel, avec joie, Venez avec allégresse en sa présence !<br>
                    Sachez que l'Eternel est Dieu ! C'est lui qui nous a faits, et nous lui appartenons; Nous sommes son
                    peuple, et le troupeau de son pâturage.<br>
                    Entrez dans ses portes avec des louanges, Dans ses parvis avec des cantiques ! Célébrez-le, bénissez
                    son nom ! <br>
                    Car l'Eternel est bon; sa bonté dure toujours, Et sa fidélité de génération en génération."</i> <br>
                <b>Psaumes 100</b>
            </p>

        </div>

        <div class="col-sm-4">
            <h3>
                <b>La Foi est un style de vie au quotidien!</b>
            </h3>
            <a href="/images/church.jpg" data-lightbox="roadtrip"><img id="church_1" src="/images/church_1.jpg" alt=""/></a>
            <br><br>
            <p class="lead">
                Beaucoup de ceux qui entendent l'enseignement de la Parole de la foi concernant la guérison divine ou la
                prospérité pensent : <i>"Tiens, je vais essayer cela !"</i>
                Mais dès que les circonstances deviennent difficiles, ils abandonnent.
                Laissez-moi vous prévenir : vivre par la foi n'est pas quelque chose qu'on essaie.
                C'est un style de vie. Vous le faites quand c'est difficile, et vous le faites quand c'est facile.
                Vous le faites constamment, non seulement pour profiter des bénéfices qui en découlent, mais parce que
                vous savez que la foi est agréable à Dieu (<b>Hébreux 11:6</b>)
            </p>
            <p>
                Tôt ou tard, vous vivrez des temps d'épreuve. Mais je peux vous assurer que vous en sortirez vainqueur,
                si vous endurez les afflictions comme un bon soldat.
                Si vous refusez de vous décourager et de renoncer, vous aurez la victoire.
                Car la seule façon pour un chrétien d'être vaincu, c'est quand lui-même abandonne.
            </p>

        </div>

    </div>
</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
