<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantiques</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_songs">

    <div class="row">

        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Africaines</span>*:</b></h3>
            <p><i>*"Les chants sont traduits en français"</i></p>
            <ul>
                <li>
                    <a href="/paroles_chants/Album_Heros_Moise_Mbiye.pdf" download>Pasteur Moise Mbiye - Héros (album
                        complet)</a>
                </li>

                <li>
                    <a href="/paroles_chants/Jowell_dena_mwana.pdf" download>Jow'ell Bombay - Eh YHWH (Feat Dena
                        Mwana)</a>
                </li>
                <li>
                    <a href="/paroles_chants/Lord_lombo.pdf" download>Lord Lombo – YAHWEH LOBA</a>
                </li>
                <li>
                    <a href="/paroles_chants/Napesi_Cassi_Kalala.pdf" download>Napesi - Cassi Kalala</a>
                </li>
                <li>
                    <a href="/paroles_chants/Lisanga_balobi_na_nga.pdf" download>Lisanga - balobi na nga cover
                        blessing</a>
                </li>
                <li>
                    <a href="/paroles_chants/Mike_Kalambay _raison.pdf" download>Mike Kalambay(MK) ft Michel Bakenda(MB)
                        -J’ai raison</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Françaises</span>:</b></h3>
            <ul>
                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download>Paul Baloche – Eleve toi</a>
                </li>

                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download>Jean Jean - Hosanna /Jésus nous t'élevons plus haut</a>
                </li>
                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download>Jéhovah , Tu es élevé</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Anglophonnes</span>:</b></h3>
            <ul>
                <li>
                    <a href="/paroles_chants/culte_english.pdf" download>Donnie McClurkin-Only you are holy</a>
                </li>

                <li>
                    <a href="/paroles_chants/culte_english.pdf" download>William McDowell - "Withholding Nothing"</a>
                </li>
                <li>
                    <a href="/paroles_chants/culte_english.pdf" download>Donnie McClurkin - "Agnus Dei"</a>
                </li>
                <li>
                    <a href="/paroles_chants/nobody.pdf" download>Neville D - Nobody Like Jesus( ft. Cjay)</a>
                </li>
                <li>
                    <a href="/paroles_chants/nobody.pdf" download>Todd Dulaney - Worship you forever</a>
                </li>
                <li>
                    <a href="/paroles_chants/WELCOME_IN.pdf" download>Dr Vernon - Welcome in</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Les chants pour le culte de Dimanche</span>:</b></h3>
            <ul>
                <li>
                    <h4><span style="text-decoration: underline;">Culte du matin</span></h4>
                    <ul>
                        <li>
                            <a href="/paroles_chants/Songs_veille.pdf" download>Veille de Prière du 19 Mai 2017</a>
                        </li>
                    </ul>

                </li>

                <li>
                    <h4><span style="text-decoration: underline;">Culte Bilingue</span></h4>
                    <ul>
                        <li>
                            <a href="/paroles_chants/culte_english.pdf" download>Culte Anglophonne du 4 Août 2017</a>
                        </li>
                        <li>
                            <a href="/paroles_chants/english-serv-23-04-2017.pdf" download>Culte Anglophonne du 23 Avril
                                2017</a>
                        </li>
			<li>
                            <a href="/paroles_chants/culte_english_17_9_2017.pdf" download>Culte Bilingue du 17 Septembre
                                2017</a>
                        </li>
                    </ul>

                </li>


            </ul>
        </div>
    </div>

</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
