<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantiques</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7.min.css">
</head>
<body>
<div w3-include-html="/html/header_bar.html"></div>
<div w3-include-html="/html/menu.html"></div>
<div id="body_container_songs">

    <div class="row">
        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Françaises</span>:</b></h3>
            <ul>
                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download> Eleve toi - Paul Baloche</a>
                </li>

                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download>Hosanna /Jésus nous t'élevons plus haut - Jean
                        Jean </a>
                </li>
                <li>
                    <a href="/paroles_chants/Songs_veille.pdf" download>Jéhovah , Tu es élevé</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Anglophonnes</span>:</b></h3>
            <ul>
                <li>
                    <a href="/paroles_chants/culte_english.pdf" download>Only you are holy - Donnie McClurkin-</a>
                </li>

                <li>
                    <a href="/paroles_chants/culte_english.pdf" download> Withholding Nothing - William McDowell</a>
                </li>
                <li>
                    <a href="/paroles_chants/culte_english.pdf" download>"Agnus Dei" - Donnie McClurkin-</a>
                </li>
                <li>
                    <a href="/paroles_chants/nobody.pdf" download>Nobody Like Jesus( ft. Cjay) - Neville D</a>
                </li>
                <li>
                    <a href="/paroles_chants/nobody.pdf" download>Worship you forever - Todd Dulaney </a>
                </li>
                <li>
                    <a href="/paroles_chants/WELCOME_IN.pdf" download> Welcome in - Dr Vernon</a>
                </li>

            </ul>
        </div>
        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Chansons Africaines</span>*:</b></h3>
            <p><i>*"Les chants sont traduits en français"</i></p>
            <ul>
                <li>
                    <a href="/paroles_chants/Album_Heros_Moise_Mbiye.pdf" download>Héros (album
                        complet) - Pasteur Moise Mbiye </a>
                </li>

                <li>
                    <a href="/paroles_chants/Jowell_dena_mwana.pdf" download> Eh YHWH (Feat Dena
                        Mwana) - Jow'ell Bombay</a>
                </li>
                <li>
                    <a href="/paroles_chants/Lord_lombo.pdf" download> YAHWEH LOBA - Lord Lombo</a>
                </li>
                <li>
                    <a href="/paroles_chants/Napesi_Cassi_Kalala.pdf" download>Napesi - Cassi Kalala</a>
                </li>
                <li>
                    <a href="/paroles_chants/Lisanga_balobi_na_nga.pdf" download> Balobi na nga (cover
                        blessing) - Lisanga</a>
                </li>
                <li>
                    <a href="/paroles_chants/Mike_Kalambay _raison.pdf" download> J’ai raison - Mike Kalambay(MK) ft
                        Michel Bakenda(MB)</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3><b><span style="text-decoration: underline;">Les chants pour le culte de Dimanche</span>:</b></h3>
            <ul>
                <li>
                    <h4><span style="text-decoration: underline;">Culte du matin</span></h4>

                    <ul>
                        <li>
                            <a href="/paroles_chants/culte_8_octobre.pdf" download>Culte du 8 Octobre 2017</a>
                        </li>
                        <li>
                            <a href="/paroles_chants/Songs_veille.pdf" download>Veille de Prière du 19 Mai 2017</a>
                        </li>
                    </ul>

                </li>

                <li>
                    <h4><span style="text-decoration: underline;">Culte Bilingue</span></h4>
                    <ul>
                        <li>
                            <a href="/paroles_chants/culte_english.pdf" download>Culte Anglophonne du 4 Août 2017</a>
                        </li>
                        <li>
                            <a href="/paroles_chants/english-serv-23-04-2017.pdf" download>Culte Anglophonne du 23 Avril
                                2017</a>
                        </li>
                        <li>
                            <a href="/paroles_chants/culte_english_17_9_2017.pdf" download>Culte Bilingue du 17
                                Septembre
                                2017</a>
                        </li>
                    </ul>

                </li>


            </ul>
        </div>
    </div>

</div>
<footer>
    <div w3-include-html="/html/footer.html"></div>
</footer>

<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/lightbox/lightbox.js"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src="/javascripts/exploring/js/index.js"></script>
<script src="/javascripts/bootstrap-3.3.7.min.js"></script>
<script src="/javascripts/w3.js"></script>
<script> w3.includeHTML();</script>
</body>
</html>
